<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mobile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <div ng-app="mobileApp">
    <!-- Add your site or application content here -->
    <div ng-controller="headerCtrl">
          <ul>
            <li ng-repeat="article in articles">
              <label>{{article.name}}</label>
              <input ng-model="article.price">
              <input type="number" ng-model="article.quantity">
            </li>
          </ul>
          <div>
            <label>Total facture: </label><span>{{total() | currency:"€":2}}</span>
          </div>
          <div>
            <label>Réduction: </label><span>{{discount | currency: "€":2}}</span>
          </div>
          <div>
            <label>Somme à payer: </label><span>{{finalTotal() | currency: "€":2}}</span>
          </div>
    </div>
      <!-- endbuild -->
</div>
  <section ng-controller="menuCtrl">
  </section>

  <section ng-controller="contentCtrl">
  </section>

  <section ng-controller="footerCtrl">
  </section>
  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
</html>
